ul {
display: inline-flex;
justify-content: space-between;
width: 5%;
}

nav {
  text-align: center;
}

li {
  margin-right: 10px;
  list-style-type: none;
}

h1, h2 {
  text-align: center;
}

hr {
  border-radius: 10px;
}
